body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #dce5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4A90E2;
}

.profile-card input,
.profile-card textarea {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: none;
}

.profile-card h2,
.profile-card p.bio {
  margin: 1rem 0 0.5rem;
}

.profile-field {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
}

.profile-field label {
  color: #4A90E2;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

.profile-field h2,
.profile-field p.bio {
  margin: 0;
}

.social-links {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.social-item {
  color: #4A90E2;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha label e span à esquerda */
  max-width: 130px; /* controla largura para não esticar */
}

.social-item label {
  font-weight: bold;
}

.social-item span {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #000000;
}


.social-links a {
  margin: 0 8px;
  text-decoration: none;
  color: #4A90E2;
  font-weight: bold;
}

.social-links input {
  display: none;
  width: 100%;
  padding: 0.3rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem; /* Espaço entre os botões */
}

.buttons button {
  width: 100%;
  max-width: 200px; /* Define uma largura máxima */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn {
  background-color: #4A90E2;
  color: white;
}


.exit{
  background-color: #4A90E2;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
  display: none;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  display: none;
}

.reset-btn {
  background-color: #4A90E2;
  color: white;
  display: none;
}
